__pycache__

/util/__pycache__/
/wandb
*.pyc
segmentation_models_pytorch/__pycache__/
*.ipynb_checkpoints

experiments
test
test_wrong_results_with_data_aug
Odonto_dataset_npz
inference


other_datasets
datasets/

segmentation_models_pytorch/base/__pycache__/
segmentation_models_pytorch/encoders/__pycache__/
segmentation_models_pytorch/fpn/__pycache__/

giovani_best-models.zip
vit_checkpoint
giovani_best-models/
test_ds.py
models

*.png
*.jpeg
*.JPG
*.json
*.jpg
*.pth
*.pt
*.onnx
*.pth
