__pycache__

/util/__pycache__/
/wandb
*.pyc
segmentation_models_pytorch/__pycache__/
*.ipynb_checkpoints

experiments
test
test_wrong_results_with_data_aug

segmentation_models_pytorch/base/__pycache__/
segmentation_models_pytorch/encoders/__pycache__/
segmentation_models_pytorch/fpn/__pycache__/

*.png
*.jpeg
*.JPG
*.json
*.jpg
*.pth
*.pt
*.onnx
*.pth
